.portfolio {
    background: #262626;
    height: auto;
    padding-top: 100px;
}

.portfolio-h {
    color: #fff;
    text-align: center;
    font-size: 35px;
    margin-bottom: 150px;
}

.my-portfolio {
    display: flex;
    width: 80%;
    margin: auto;
}

.project-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.links {
    text-decoration: none;
    color: aqua;
}

.title {
    color: #fff;
    font-size: 17px;
}

.tech-item {
    background: #000;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    width: auto;
    color: #fff;
}

.tech-list {
    display: flex;
    gap: 10px;
}

.descrpt {
    background: #000;
    padding: 10px;
    width: 80%;
    color: #fff;
    border-radius: 10px;
}

.img-div {
    width: 50%;
    background: white;
    border: 1px solid #262626;
    border-radius: 10px;
}

.img {
 width: 100%;
}

@media (min-width: 600px) and (max-width: 900px) {
    .my-portfolio {
        flex-direction: column-reverse;
    }

    .portfolio-h {
        margin-bottom: 53px;
    }

    .img-div {
        width: 100%;
    }

    .project-details {
        width: 100%;
        padding: 17px 0 39px;
    }

    .descrpt {
        width: auto;
    }
}


@media (max-width: 590px) {
    .my-portfolio {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .img-div {
        width: 80%;
    }

    .descrpt {
        width: 159%;
        margin-left: -55px;
    }

    .title {
     font-size: 16px;
     margin-left: -51px;
     margin-top: 12px;
    }

    .links {
        margin-left: -53px;
    }

    .tech-list {
        margin-left: -53px;
        margin-bottom: 30px;
    }

    .portfolio-h {
        margin-bottom: 27px;
        margin-top: 20px;
    }

    .portfolio {
        padding-top: 4px;
    }
}